body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: darkblue;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero {
    color: white;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 30px;
}

h2 {
    display: flex;
    justify-content: center;
}

.blocksbox {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    gap: 10px;
    align-items: center;
    padding: 40px;
}

.blocks {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    justify-content: space-around;
    width: 75%;
}

.quotebox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gray;
    padding: 40px;
}

.quote {
    width: 75%;
}

.sign {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}