body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #6b7a64;
    color: #4b2e12;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.transcendlogo {
    height: 50px;
}

.hero {
    color: #4b2e12;
    background-color: #6b7a64;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 30px;
}

.mainhero {
    font-size: 40px;
}

.heroimage {
    width: 300px;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.blocksbox {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    gap: 10px;
    align-items: center;
    padding: 40px;
    background-color: rgba(128, 128, 128, 0.479);
    color: #4b2e12;;
}

.blocks {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    justify-content: space-around;
    width: 75%;
    gap: 20px;
}

.blockimage {
    width: 200px;
    height: auto;
}

.blockone, .blocktwo, .blockthree {
    width: 25%;
    text-align: center;
}

.quotebox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #6b7a64be;
    padding: 40px;
    color: #4b2e12;;
}

.quote {
    width: 75%;
}

.long {
    font-style: italic;
    font-size: 26px;
}

.sign {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.signup {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: rgba(128, 128, 128, 0.479);
}

.bluebox {
    display: flex;
    justify-content: space-between;
    background-color: #6b7a64be;
    width: 75%;
    padding: 0 25px;
    color: #4b2e12;
}

.bold {
    font-weight: bold;
}

.buttonbox {
    display: flex;
    align-items: center;
    padding: 10px;
}

button {
    background-color: rgba(128, 128, 128, 0.479);
}

footer {
    display: flex;
    background-color: #6b7a64;
    color: #4b2e12;
    justify-content: center;
}
